.edbox-modal{
    z-index: 99999;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0.3;
}

.edbox{
    
    display: none;
    padding: 30px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    

}

.edbox .title{
    color: white;
    font-family: verdana;
    font-size: 20px;
    font-weight: bold;
    
}

.edbox .text{
    color: #f2f2f2;
    font-family: verdana;
    margin-top: 20px;
}

.edbox .buttons{
    text-align: center;
}

.edbox .button{
    padding: 10px 20px 10px 20px;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
}

.edbox .button:hover{
    
    cursor: pointer;
    color: white;
}


.edbox.success{
    background-color: #27ae60;
    border-color: #2ecc71;
}
.edbox.success .button{
    background-color: #27ae60;
    border-color: #2ecc71;
    
}

.edbox.alert{
    background-color: #f39c12;
    border-color: #f1c40f;
}

.edbox.alert .button{
    background-color: #f39c12;
    border-color: #f1c40f;
    
}

.edbox.error{
    background-color: #c0392b;
    border-color: #e74c3c;
}

.edbox.error .button{
    background-color: #c0392b;
    border-color: #e74c3c;
}
